<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <Div>
        <h1>JAMES</h1>
        <p class="p1" align="left">Futbolista colombiano, que juega como centrocampista <br>y su equipo actual es Al Rayyan S. C. <br>de la Qatar Stars League. Recibió en 2009, 2012 y 2014 <br>el premio de jugador revelación de la Primera División <br>de Argentina y en la Primeira
            Liga de Portugal..
        </p>
        <p class="p2" align="left">Nacimiento: 12 de julio de 1991</p>
        <img class="imgem" src="/assets/img/eve_fcf.png" alt="">
        <button type="button" [routerLink]="['/JugadoresComponent']" class="botonback button2 bpost">Home</button>
        <img class="centrado messimg" src="/assets/img/jamesv2.jpg" alt="">
    </Div>

</body>

<footer>
    <div class=" text-center py-3 text-white-70 footer2">
        <small>Copyright &copy; Victor Dorado</small>
    </div>
</footer>