<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <Div>
        <h1>MESSI</h1>
        <p class="p1" align="left">Futbolista argentino que juega como delantero o <br>centrocampista en el Paris Saint-Germain<br> de la Ligue 1 de Francia. Es internacional con<br> la selección de Argentina, equipo del que es capitán <br>y máximo goleador histórico.</p>
        <p class="p2" align="left">Nacimiento: 24 de junio de 1987</p>
        <img class="imgem" src="/assets/img/psg_afa.png" alt="">
        <button type="button" [routerLink]="['/JugadoresComponent']" class="botonback button2 bpost">Home</button>
        <img class="centrado messimg" src="/assets/img/messiv2.jpg" alt="">
    </Div>

</body>

<footer>
    <div class=" text-center py-3 text-white-70 footer2">
        <small>Copyright &copy; Victor Dorado</small>
    </div>
</footer>

</html>